html, body {
  margin: 0;
}

body {
    background-color: #370617;
}


.container1 {
    margin-top: 98px;
    margin-left: 90px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
  align-items: flex-end;
  position: relative;
    boarder radius: 12px;
    display: flex;

}

.box1  {
 justify-content: flex-start;
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;
  
}

.box2  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
}

.box3  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;
   
}


.container2 {
    margin-top: 90px;
    margin-right: 98px;
    width:460px;
    height: 160px;
    background-color: #F48C06;
    align-items: center;
    justify-content: center;
    display: flex;

}

.box4  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;
  
}

.box5  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;  
}

.box6  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;
   
}


.container3 {
   margin-top: 98px;
    margin-left: 90px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
    boarder radius: 12px;
    display: flex;
  
}

.box7  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  
}

.box8  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;   
}

.box9  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
   
}   

.container4 {
    margin-top: 90px;
    margin-right: 98px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
  
}

.box10  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
 
}

.box11  {
  width:78px;
  height: 78px;
  background-color: #9D0208; 
  justify-content: center;
  margin-top: 20px;
 
}

.box12  {
  width:78px;
  height: 78px;
  background-color: #9D0208; 
  justify-content: flex-end;
  margin-top: 62px;
  margin-right: 20px;
   
}   

.container5 {
    margin-top: 90px;
    margin-right: 98px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
    boarder radius: 12px;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-align: center;
    text-color: #FFFFFF;

}

.box13  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;
  margin-left: 63px;  
}

.box14  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
}

.box15  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;  
  margin-right: 63px;
   
}   

.container6 {
    margin-top: 90px;
    margin-right: 98px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
    boarder radius: 12px;
    align-items: center;
    display: flex;
  
}

.box16 {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  margin-left: 58px;

}

.box17  {
  width: 156px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
}

.box18  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  margin-right: 58px;
}
