html, body {
  margin: 0;
  display: flex;
  gap: 20px;    
  flex-wrap: wrap;  
 

}

body {
    background-color: #370617;
}


.container1 {
    margin-top: 90px;
    margin-bottom: 20px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
  align-items: flex-end;
  position: relative;
    border-radius: 10px;
    display: flex;

}

.box1  {
 justify-content: flex-start;
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.box2  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box3  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;
   border-radius: 12px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}


.container2 {
    margin-top: 90px;
    margin-right: 98px;
    margin-bottom: 20px;
    width:460px;
    height: 160px;
    background-color: #F48C06;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}

.box4  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;
  border-radius: 10px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box5  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;  
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box6  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;     
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}


.container3 {
    margin-left: 98px;
    margin-bottom: 20px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  border-radius: 10px; 
    display: flex;
  
}

.box7  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  
}

.box8  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;   
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.box9  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}   

.container4 {
    margin-right: 98px;
    margin-bottom: 20px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    

  
}

.box10  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}

.box11  {
  width:78px;
  height: 78px;
  background-color: #9D0208; 
  justify-content: center;
  margin-top: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}

.box12  {
  width:78px;
  height: 78px;
  background-color: #9D0208; 
  justify-content: flex-end;
  margin-top: 62px;
  margin-right: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}   

.container5 {
    margin-left: 98px;
    margin-bottom: 20px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
    border-radius: 12px;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;


}

.box13  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;
  margin-left: 63px;  
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box14  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px; 
}

.box15  {
  width:78px;
  height: 120px;
  background-color: #9D0208;
  margin: 20px;  
  margin-right: 63px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}   

.container6 {
    margin-right: 98px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
    border-radius: 12px;
    align-items: center;
    display: flex;
    border-radius: 10px;
  
}

.box16 {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  margin-left: 58px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.box17  {
  width: 156px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box18  {
  width:78px;
  height: 78px;
  background-color: #9D0208;
  margin: 20px;  
  margin-right: 58px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
