html, body {
  margin: 0;
}

body {
    background-color: #370617;
}


.container {
    margin-top: 98px;
    margin-left: 90px;
  width:460px;
  height: 160px;
  background-color: #F48C06;
  align-items: center;
    boarder radius: 12px;
    position: relative;
    display: flex;

}

.box1  {
  margin-top: 63px;
    margin-left: 19px;
  width:78px;
  height: 78px;
  background-color: #9D0208;

}

.box2  {
  margin-top: 63px;
    margin-left: 117px;
  width:78px;
  height: 78px;
  background-color: #9D0208;
    
}

.box3  {
  margin-top: 63px;
    margin-left: 215px;
  width:78px;
  height: 78px;
  background-color: #9D0208;
   
}